.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/*
!spec/dummy/tmp/.keep
spec/dummy/.sass-cache
spec/examples.txt
/tmp
.byebug_history
/coverage
/spec/dummy/coverage

# OSX hidden files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Sitemap
public/sitemap.xml

# Windows hidden files
Thumbs.db
ehthumbs.db
